:root {
    --sw-border-color: none;
    --sw-toolbar-btn-color: #ffffff;
    --sw-toolbar-btn-background-color: rgba(132, 221, 99, 1);
    --sw-anchor-default-primary-color: #f8f9fa;
    --sw-anchor-default-secondary-color: #b0b0b1;
    --sw-anchor-active-primary-color: rgba(132, 221, 99, 1);
    --sw-anchor-active-secondary-color: #ffffff;
    --sw-anchor-done-primary-color: rgba(132, 221, 99, 1);
    --sw-anchor-done-secondary-color: #fefefe;
    --sw-anchor-disabled-primary-color: rgba(132, 221, 99, 1);
    --sw-anchor-disabled-secondary-color: #dbe0e5;
    --sw-anchor-error-primary-color: #dc3545;
    --sw-anchor-error-secondary-color: #ffffff;
    --sw-anchor-warning-primary-color: #ffc107;
    --sw-anchor-warning-secondary-color: #ffffff;
    --sw-progress-color: rgba(132, 221, 99, 1);
    --sw-progress-background-color: #f8f9fa;
    --sw-loader-color: rgb(132, 231, 96);
    --sw-loader-background-color: #f8f9fa;
    --sw-loader-background-wrapper-color: rgba(255, 255, 255, 0.7);
}
